
@model MVCsportregistration.Models.sportTable
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<dl class="dl-horizontal">


   
    <dt>
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>



    <dt>
        @Html.DisplayNameFor(model => model.Idnum)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Idnum)
    </dd>


    <dt>
        @Html.DisplayNameFor(model => model.IdType)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.IdType)
    </dd>




    <dt>
        @Html.DisplayNameFor(model => model.Email)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Email)
    </dd>


    <dt>
        @Html.DisplayNameFor(model => model.Mobile)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Mobile)
    </dd>


    <dt>
        @Html.DisplayNameFor(model => model.Address)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Address)
    </dd>


    <dt>
        @Html.DisplayNameFor(model => model.Pin)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Pin)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Sport)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Sport)
    </dd>


    <dt>
        @Html.DisplayNameFor(model => model.Role)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Role)
    </dd>



    <dt>
        @Html.DisplayNameFor(model => model.Password)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Password)
    </dd>
</dl>



<div class="form-group">

    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Register a tournament" onclick="User_Dashboard" class="btn btn-default" />
    </div>
</div>